body{
    background-color: white;
    
}
header{
    background-color: darkpink;
}
.hero{
    background-color: rgb(252, 55, 84);
}
h1
h2
h3{
    color: darkpink;
}
.btn{
    background-color: darkpink;
    color: white;
}
btn:hover{
    background-color: rgb(139, 119, 3);
}
.card{
    background-color: white;
    color: rgb(128, 109, 1);
}
footer{
    background-color: navy ;
    color: white;
}