body{
    background-color: white;
    
}
header{
    background-color: darkpink;
}
.hero{
    background-color: rgb(102, 78, 209);
}
h1
h2
h3{
    color: darkpink;
}
.btn{
    background-color: darkpink;
    color: white;
}
btn:hover{
    background-color: rgb(139, 119, 3);
}
.card{
    background-color: white;
    color: lightpink;
}
footer{
    background-color: rgb(105, 105, 228); ;
    color: white;
}