body{
    background-color: white;
    
}
header{
    background-color: darkpink;
}
.hero{
    background-color: rgb(247, 133, 203);
}
h1
h2
h3
{
    color: darkpink;
}
.btn{
    background-color: darkpink;
    color: white;
}
.btn:hover{
    background-color: rgb(3, 23, 139);
}
.card{
    background-color: white;
    color: rgb(121, 91, 252);
}
footer{
    background-color: rgb(228, 105, 218); ;
    color: white;
}